body {
    margin: 0;
    padding: 0;
    width: 0;
}
.cabecalho {
    background-color: #E97333;
}
    .cabecalho__titulo {
        text-align: center;
        color: #000;
    }
.principal {}
    .principal__topo {}
        .principal__topo--texto {}
    .principal__capa {}
        .principal__capa--imagem {
            height: 100%;
            width: 60px;
        }
        .principal__capa--texto {
        }
    .principal__cardapio {}
       .principal__cardapio--opcoes {}
            .cardapio__opcao {}
                .cardapio__opcao--imagem {
                    height: 100%;
                    width: 100px;
                }
                .cardapio__opcao--titulo {}
                .cardapio__opcao--valor {}
    .principal__quemsomos {}
        .quemsomos__imagem {}
            .quemsomos__perfil {}
            .quemsomos__texto {}
        .quemsomos__texto {}
            .quemsomos__nome {}
            .quemsomos__texto {}
.cabecalho {}
    .cabecalho__contato {}
        .cabecalho__contato--instagram {}
        .cabecalho__contato--whatsapp {}
