body {
    margin : 0;
}
.cabecalho {
    background-color : #E97333;
}
    .cabecalho__titulo {
        text-align  : center ;
        color       : #fff ;
        font-weight : 100    ;
        margin      : 0      ;
        padding     : 10px   ;
    }
    .principal__logo{}
        .principal__logo--imagem {}
.principal {}
    .principal__topo {
        background-color : #D35858    ;
        display          : flex         ;
        flex-direction   : row          ;
        flex-wrap        : nowrap       ;
        justify-content  : space-evenly ;
        align-content    : stretch      ;
    }
        .principal__topo--texto {
            margin    : 3px     ;
            color     : #fff  ;
            font-size : 15px    ;
        }
    .principal__capa {}
        .principal__capa--imagem {
            height  : 100%      ;
            width   : 90%       ;
            display : block     ;
            margin  : 10px auto ;
            box-shadow: rgba(237, 35, 35, 0.615) 0px 5px 15px;
        }
        .principal__capa--texto {
            color       : #E97333 ;
            font-size   : 21px      ;
            text-align  : center    ;
            font-weight : 600       ;
            margin-top  : 13px      ;
        }
    .principal__cardapio {}
        .principal__cardapio--titulo {
            color     : #E97333         ;
            margin    : 15px 5px 5px 10px ;
            font-size : 17px;
        }
    
       .principal__cardapio--opcoes {
            display         : flex            ;
            justify-content : space-evenly    ;
            overflow-x      : scroll          ;
            padding         : 5px             ;
            margin          : 0 8px 10px 10px ;
        }
            .cardapio__opcao {
                background-color : #ea5555 ;
                margin-left      : 15px      ;
                padding          : 10px      ;
                border-radius    : 15px      ;
                list-style       : none      ;
                box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
            }
                .cardapio__opcao--imagem {
                    height : auto   ;
                    width  : 150px  ;
                    margin : 0 7px  ;
                }
                .cardapio__opcao--titulo {
                    margin      : 0                                                                ;
                    color       : rgb(250, 189, 161)                                             ;
                    font-family : 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif ;
                    text-align  : center                                                           ;
                }
                .cardapio__opcao--valor {
                    margin      : 0                                                                ;
                    color       : rgb(250, 189, 161)                                             ;
                    font-family : 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif ;
                    text-align  : center     
                }
    .principal__quemsomos {
        display          : flex      ;
        margin-top       : 50px      ;
        background-color : #ff9861 ;
    }
        .quemsomos__imagem {}
            .quemsomos__perfil {
                height : 70%       ;
                width  : 120px     ;
                margin : 28px 11px ;
                box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
            }
            .quemsomos__texto {
                margin : 8px ;
            }
        .quemsomos__texto {}
            .quemsomos__nome {
                font-size   : 21px                                       ;
                margin      : 10px                                       ;
                font-family : Brush Script MT, Brush Script Std, cursive ;
            }
            .quemsomos__texto {
                font-size   : 15px ;
                margin-left : 10px ;
            }
.rodape {}
    .rodape__contato {
        display          : flex         ;
        justify-content  : space-evenly ;
        background-color : #E97333    ;
    }
        .rodape__contato--instagram {
            text-decoration : none   ;
            color           : #fff ;
        }
        .rodape__contato--whatsapp {
            text-decoration : none  ;
            color           : #fff ;
        }